<!DOCTYPE html><html><head><meta charset=utf-8><meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0" name=viewport><title>景区时讯</title><script>var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?e1f38ab45d410f2122c48e8eed8f895e";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
      })();</script><script>var SITE_URL = "{:SITE_URL}";
  var IMG_PATH = "__IMG__";
  var STATIC_PATH = "__STATIC__";
  var WX_APPID = "{$jsapiParams.appId}";
  var WXJS_TIMESTAMP = '{$jsapiParams.timestamp}';
  var NONCESTR = '{$jsapiParams.nonceStr}';
  var SIGNATURE = '{$jsapiParams.signature}';
  var AJAXURL = '{$ajax_url}';
  var MCOMPLAINURL = '{$mcomplain_url}';
  var OPENID = "{$openid}";
  var ACCOUNTID = "{$accountId}";
  var	TOKEN='{$token}';
  var	NICKNAME='{$nickname}';
  var	HEADIMG='{$headimgurl}';</script><link href=/Public/static/wap/dynamic_static/css/app.339a76c50bb6013c00f58ec599973385.css rel=stylesheet></head><body><div id=app></div><script src="http://webapi.amap.com/maps?v=1.4.2&key=849cc80fad32ee884e53eedc74e0b2b9"></script><script src=http://res.wx.qq.com/open/js/jweixin-1.0.0.js></script><script type=text/javascript src=/Public/static/wap/dynamic_static/js/manifest.7698b4e624093df78ce5.js></script><script type=text/javascript src=/Public/static/wap/dynamic_static/js/vendor.9c27d41af9f73618160c.js></script><script type=text/javascript src=/Public/static/wap/dynamic_static/js/app.9ec77d4d1e5bcbce336c.js></script></body></html>